<div>

  <div style="display: flex;">
    <div style="border: 1px solid green; padding: 0 10px; width: 200px; height: 300px">
      <h2>sidenav</h2>
      <button (click)="onAuthenticationButtonClick()">{{authenticationButtonName}}</button>
      <nav *ngIf="account">
        <ul>
          <li><a routerLink="collection" routerLinkActive="active-link">Collection</a></li>
          <li><a routerLink="marketplace" routerLinkActive="active-link">Marketplace</a></li>
        </ul>
      </nav>
    </div>
    <div style="border: 1px solid blue; flex: 1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
